* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: horizontal;
    height: 100vh;
    width: 100vw;
}

.group-chat-container {
    flex-grow: 1;
    border: 5px solid red;
}

.output {
    border: 1px solid green;
    height: 50vh;
}
